.DS_Store
.idea
DPToken
DPToken-cli
tool
datadir/
grpc33.log
logs/
/wallet
/data2
*.log
*.tar.gz
build/ci
build/dplatform
build/dplatform-cli
build/dplatform.toml
build/autotest/*
!build/autotest/run.sh
